{% extends "/layouts/one-login-home-v12-OL.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Enter your new password
    </h1>

    <div class="govuk-form-group">
      <label class="govuk-label" for="authentication-code">
        Enter a new password
      </label>
      <div id="authentication-code-hint" class="govuk-hint">
        Your password must be at least 8 characters and must include letters and numbers. Do not use a very common password, such as ‘password’ or a sequence of numbers.
      </div>
      <div class="govuk-input__wrapper"><input class="govuk-input" id="weight" name="weight" type="text" spellcheck="false">
        <div class="govuk-input__suffix" aria-hidden="true" href="">Show</div>
      </div> 
      <br>
      <br>
      <div class="govuk-form-group">
        <label class="govuk-label" for="weight">
          Re-type your new password
        </label>
        <div class="govuk-input__wrapper"><input class="govuk-input" id="weight" name="weight" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true" href="">Show</div>
        </div>
      </div>
    </div>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How to create a secure password
        </span>
      </summary>
      <div class="govuk-details__text">
        A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.
      </div>
    </details>

    <a href="/identity/one-login-home/v12/pw-success.html" role="button" draggable="false" class="govuk-button govuk-button--continue" data-module="govuk-button">
      Continue
    </a>

    <p class="govuk-body">
      <a href="/identity/one-login-home/v12/security.html" class="govuk-link govuk-link--no-visited-state"> I do not want to change my password</a>
    </p>


  </div>
</div>

{% endblock %}
