{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your mobile phone number
{% endblock %}

{% block header %}
{{ govukHeader({
homepageUrl: "/identity/end-of-task-pages/v11-task-page",
serviceName: "",
serviceUrl: "/",
containerClasses: "govuk-width-container"
}) }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<a href="/identity/auth/v11/create-choose-otp-method.html" class="govuk-back-link">Back</a>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Enter your mobile phone number
    </h1>

    <p>We will send a 6 digit security code to the  number you give us.</p>

    <p>This phone number will also be shared with services you access with your GOV.UK One Login.</p>

    <form class="form" action="/identity/auth/v11/create-check-sms" method="post">

      <div class="govuk-form-group">

        <label class="govuk-label" for="mobile-number">UK mobile phone number</label>

        {{ govukInput({
          name: 'phone-number'
      }) }}
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                I do not have a UK mobile number
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
