version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
    cooldown:
      default-days: 7
    target-branch: main
    open-pull-requests-limit: 100
    commit-message:
      prefix: BAU