{% extends "layouts/one-login-home.html" %}
{% set activeNav = "your-services" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Your services
      </h1>
      <br>
      <p class="govuk-body">Go to a government account or service you’ve used with your GOV.UK One Login. </p>
      
      <div class="activity-card govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-s">A service run by HM Revenue and Customs (HMRC)</h2>
      <p id="event-name-hint" class="govuk-hint">For example services about tax, childcare, or state pensions. </p> 
      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <p>At the moment, GOV.UK One Login cannot show you which HMRC service you’ve used. </p>
      <p>We’re working to make this possible. </p>
      <p class="govuk-body">
        <a href="https://www.gov.uk/" class="govuk-link govuk-link--no-visited-state">Find the HMRC service you need on GOV.UK </a>
      </p>
      <p class="govuk-hint" id="event-name-hint">Last used: 13 December 2023</p>
      </div>

      <p class="govuk-body-s">
        <a href="/identity/one-login-home/v11/your-services.html" class="govuk-link govuk-link--no-visited-state">[See version with more services]</a>
      </p>    </div>
  </div>

{% endblock %}
