{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukOneLoginServiceHeader({
    serviceName: "My example service name",
    navigationItems: [{
      href: "#",
      text: 'service link 1',
      id: 'servicelink1'
    },{
      href: "#",
      text: 'service link 2',
      id: 'servicelink2'
    },{
      href: "#",
      text: 'service link 3',
      id: 'servicelink3'
    }],
    activeLinkId: 'servicelink3'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/auth/v9/create-email" method="post" class="form">
      
      <h3 class="govuk-heading-m">Create your GOV.UK One Login or sign in</h3>

      <p>You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an email address</li>
        <li>a way to get security codes - this can be a UK mobile phone number or an authenticator app</li>
      </ul>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Create your GOV.UK One Login",
            href: "/identity/auth/v9/create-email"
          }) }}

          {{ govukButton({
            text: "Sign in",
            classes: "govuk-button--secondary",
            href: "/identity/auth/v9/signin-email"
          }) }}
        </div>
        <!--
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">About GOV.UK accounts</span>
        </summary>
        <div class="govuk-details__text">
          <p>GOV.UK accounts are new. At the moment you can only use your GOV.UK account with a few services.</p>
          <p>GOV.UK accounts are currently separate from other government accounts (for example Government Gateway).</p>
          <p>In future, you'll be able to use your GOV.UK account to sign in to most services on GOV.UK.</p>
        </div>
      </details>
      -->
    </form>
  </div>
</div>

{% endblock %}
