{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}


{% block content %}

<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Application complete
  </h1>
  <div class="govuk-panel__body">
    Your reference number<br><strong>HDJ2123F</strong>
  </div>
</div>

<div>
<p class="govuk-body">You’ve reported this event because there’s something you do not recognise.</p>

<div class="govuk-inset-text">
  <p class="govuk-body govuk-!-font-weight-bold">Signed in</p>
  <p class="govuk-body govuk-!-font-weight-bold">22 August  2023 at 7:00pm (UK time)</p>
  <p class="govuk-body govuk-!-font-weight-regular">You visited Personal tax account.</p>
</div>

<p class="govuk-body govuk-!-font-weight-regular">A confirmation email has been sent to <a class="govuk-body govuk-!-font-weight-bold">email@example.com</a>.</p>
<p class="govuk-body govuk-!-font-weight-regular">The GOV.UK One Login team will reply to you by email within 2 working days. We might ask for more information about the event you’ve reported.</p>

<a href="/identity/one-login-home/v9/signin-history.html" class="govuk-link govuk-link--no-visited-state">Go back to your sign in history</a>


</div>
{% endblock %}
