{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Sign in to your GOV.UK One Login
    </h1>

    <p class="govuk-body">Contents</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Sign in to your GOV.UK One Login</li>
  <li><a class="govuk-link" href="/identity/govuk/signin-to-onelogin-future-2.html">Services you can use with GOV.UK One Login</a></li>
  <li><a class="govuk-link" href="/identity/govuk/signin-to-onelogin-future-3.html">Proving your identity with GOV.UK One Login</a></li>
</ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">Sign in to your GOV.UK One Login</h2>
    <p>GOV.UK One Login is new. At the moment you can only use it to access some government services.</p>
    <p>It does not work with all government accounts and services yet (for example Government Gateway or Universal Credit).</p>
    <p class="govuk-body">See the <a href="#" class="govuk-link"> services you can use with GOV.UK One Login</a>.</p>
    <p>In the future, you'll be able to use your GOV.UK One Login to access all services on GOV.UK.</p>
    <div class="govuk-inset-text">
      If you do not have a GOV.UK One Login yet, you can create it when you use a service that needs you to have one.
    </div>

    <p>Sign in to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>see and access the services you’ve used with your GOV.UK One Login</li>
      <li>change your sign in details (email address and password)</li>
      <li>change how you get security codes</li>
      <li>update your saved identity information (if you’ve proved your identity with GOV.UK One Login before)</li>
      <li>delete your GOV.UK One Login</li>
    </ul>

{{ govukButton({
  text: "Sign in",
  href: "/identity/auth/v9/signin-email-via-gp.html",
  isStartButton: true
}) }}

<h2 class="govuk-heading-m">Report a problem or give feedback</h2>
<p class="govuk-body">To report a problem with your GOV.UK One Login or give feedback <a href="#" class="govuk-link">contact the GOV.UK One Login team</a>.</p>

<h2 class="govuk-heading-m">If you work on a central government service</h2>
<p class="govuk-body">You can <a href="#" class="govuk-link">try GOV.UK One Login with your service or join our private beta</a>.</p>


<nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
  
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="/identity/govuk/signin-to-onelogin-future-2.html" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
      <span class="govuk-pagination__link-label">Services you can use with GOV.UK One Login</span></a>
  </div>
</nav>

<a href="#" class="govuk-link govuk-link--no-visited-state">View a printable version of the whole guide</a>
  
        </div>
      </div>
  </div>
</div>
{% endblock %}
