{% extends "layouts/one-login.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<a href="/identity/one-login-home/v9/signin-history.html" class="govuk-back-link">Back</a>

<div>
<h1 class="govuk-heading-xl">You’ve already  reported this event</h1>
<p class="govuk-body">You reported this event on <span class="govuk-!-font-weight-bold"> 22 August 2023</span>. </p>

<div class="govuk-inset-text">
  <p class="govuk-body govuk-!-font-weight-bold">Signed in</p>
  <p class="govuk-body govuk-!-font-weight-bold">22 August  2023 at 7:00pm (UK time)</p>
  <p class="govuk-body govuk-!-font-weight-regular">You visited your GOV.UK One Login.
  </p>
</div>


</div>
{% endblock %}
