{% extends "/layouts/v13-one-login-plus-signout.html" %}

{% block pageTitle %}
Activity history  
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="/identity/one-login-home/v13/one-login-homepage" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Activity history
    </h1>
    <p class="govuk-body">
      See what you’ve visited with your GOV.UK One Login.
    </p>
    <p>If you see something you do not recognise, report it and <a href="/identity/one-login-home/v13/security" class="govuk-link">change your password</a>.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div>
    <h2 class="govuk-heading-s">Your GOV.UK One Login</h2>
    <p class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">This includes ‘Security’ and ‘Your services’</p>
    <p class="govuk-body">13 December 2023 at 8:00am (UK time)</p>
    <p class="govuk-body">
          <a href="/identity/one-login-home/v13/report-event-form.html" class="govuk-link govuk-link--no-visited-state">Report activity from 12 December 2023 at 8:00pm</a>
        </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>

    <div>
      <h2 class="govuk-heading-s"> Check your State Pension forecast</h2>
      <p>13 December 2023 at 7:57am (UK time)</p>
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Activity reported on 15 December 2023</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>

    <div>
      <h2 class="govuk-heading-s"> A service run by HM Revenue and Customs (HMRC)</h2>
      <p>13 December 2023 at 7:57am (UK time)</p>
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Activity reported on 15 December 2023</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>

    <div>
      <h2 class="govuk-heading-s"> A service run by HM Revenue and Customs (HMRC)</h2>
      <p>13 December 2023 at 7:57am (UK time)</p>
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Activity reported on 15 December 2023</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>

    <div>
      <h2 class="govuk-heading-s"> A service run by HM Revenue and Customs (HMRC)</h2>
      <p>13 December 2023 at 7:57am (UK time)</p>
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Activity reported on 15 December 2023</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>

  </div>
</div>
{% endblock %}
