{% extends "/layouts/v13-one-login-plus-signout.html" %}

{% block pageTitle %}
Security  
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/identity/one-login-home/v13/one-login-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Your identity information
      </a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      Your identity information
    </h1>
    <p>You’ve proved your identity with GOV.UK One Login. </p>
    <p>Your GOV.UK One Login shares your identity information with a service when it needs to check who you are.
    </p>

    <div class="activity-card govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m">Your identity information</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6; padding-top:10px">
        <dt class="govuk-summary-list__key">
          Name  on your UK passport
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ data['first-name'] }} {{ data['surname']  or "Joe Bloggs"}}</p>
          <p class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">Saved on 25 October 2023</p> 
        </dd>
      </div>
    </dl>
    
    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          <p>{{ data['dob-day'] }} {{ data['dob-month'] }} {{ data['dob-year'] or "01 January 1973"}}</p>
          <p class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">Saved on 25 October 2023</p> 
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Current address
        </dt>
        <dd class="govuk-summary-list__value">
          <p>
    
            {% if data['address-line-1'] %}

              {% if data['address-line-1'] %}
                {{ data['address-line-1'] }},<br>
              {% endif %}

              {% if data['address-line-2'] %}
                {{ data['address-line-2'] }}
              {% endif %}, <br>

              {% if data['town-or-city'] %}
                {{ data['town-or-city'] }},<br>
              {% endif %}

              {% if data['post-code'] %}
              {{ data['post-code'] }},<br>
            {% endif %}

            {% else %}
              Office 14, <br>
              New Station St, <br>
              Leeds, <br>
              LS1 5DL
            {% endif %}
    
          </p>
          <p class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">Saved on 16 April 2024</p> 
          <p class="govuk-body">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Update your current address</a>
          </p>
        </dd>
      </div>
    </dl>
    </div>

    <h2 class="govuk-heading-l">
      Keeping your identity information up to date
    </h2>
    <p>When you sign in, we’ll sometimes ask you to confirm the saved information is still correct. </p>
    <p class="govuk-body">This helps us:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>share the correct identity information  with services</li>
  <li>keep your GOV.UK One Login secure</li>
</ul>

<h3 class="govuk-heading-m">
  Updating your name or date of birth
</h3>
<p class="govuk-body"> If you need to update your name or date of birth you need to
  <a href="https://home.account.gov.uk/contact-gov-uk-one-login?_ga=2.47735463.1201735138.1712234533-669254218.1708941790" class="govuk-link" rel="noreferrer noopener" target="_blank">contact the GOV.UK One Login team (opens in new tab)</a>.
</p>
<p>They’ll delete your saved identity information and ask you to prove your identity again with your new details. </p>


    
    

  </div>
</div>

{% endblock %}
