{% extends "layouts/main.html" %}

{% block pageTitle %}
Task page
{% endblock %}


{% block header %}
{{ govukHeader({
homepageUrl: "/",
serviceName: "",
serviceUrl: "/",
containerClasses: "govuk-width-container"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Tasks
    </h1>
 
    <h2 class="govuk-heading-m">Task 1</h2>
    {{ govukButton({
      text: "Start",
      href: "/services/dbs/v11/request-dbs-check.html"
    }) }}

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Links
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-heading-s">DBS</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/services/dbs/v11/request-dbs-check" class="govuk-link govuk-link--no-visited-state">Request a basic DBS check</a></li>
          <li><a href="/services/dbs/v11/pyi-for-dbs" class="govuk-link govuk-link--no-visited-state">Your need to prove your identity</a></li>
          <li><a href="/services/pta/what-is-your-ni" class="govuk-link govuk-link--no-visited-state">Enter your National Insurance number</a></li>
          <li><a href="/services/dbs/v11/apply-for-dbs-check" class="govuk-link govuk-link--no-visited-state">Apply for a basic DBS check</a></li>
        </ul>
      </div>
    
      <div class="govuk-details__text">
        <p class="govuk-heading-s">Auth</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/identity/auth/v11/gov-account" class="govuk-link govuk-link--no-visited-state">Create a GOV.UK One Login or sign in</a></li>
          <li><a href="/identity/auth/v11/create-email" class="govuk-link govuk-link--no-visited-state">Enter your email address</a></li>
          <li><a href="/identity/auth/v11/create-check-email" class="govuk-link govuk-link--no-visited-state">Check your email address</a></li>
          <li><a href="/identity/auth/v11/create-password" class="govuk-link govuk-link--no-visited-state">Create your password</a></li>
          <li><a href="/identity/auth/v11/create-choose-otp-method" class="govuk-link govuk-link--no-visited-state">Choose how to get security codes</a></li>
          <li><a href="/identity/auth/v11/create-enter-mobile" class="govuk-link govuk-link--no-visited-state">Enter your mobile phone number</a></li>
          <li><a href="/identity/auth/v11/create-check-sms" class="govuk-link govuk-link--no-visited-state">Check your phone</a></li>
          <li><a href="/identity/auth/v11/create-success" class="govuk-link govuk-link--no-visited-state">You’ve created your GOV.UK One Login</a></li>
        </ul>
      </div>
    
      <div class="govuk-details__text">
        <p class="govuk-heading-s">Prove your identity</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/identity/pyi/v11/how-to-pyi" class="govuk-link govuk-link--no-visited-state">How would you like to prove your identity?</a></li>
          <li><a href="/identity/pyi/v11/pyi-online" class="govuk-link govuk-link--no-visited-state">Prove your identity online</a></li>
          <li><a href="/identity/pyi/v11/passport-details" class="govuk-link govuk-link--no-visited-state">Enter your passport details</a></li>
          <li><a href="/identity/pyi/v11/enter-address" class="govuk-link govuk-link--no-visited-state">Enter your address</a></li>
          <li><a href="/identity/pyi/v11/address-check" class="govuk-link govuk-link--no-visited-state">Confirm your details</a></li>
          <li><a href="/identity/pyi/v11/fraud-check" class="govuk-link govuk-link--no-visited-state">We need to check your details</a></li>
          <li><a href="/identity/pyi/v11/kbv-start" class="govuk-link govuk-link--no-visited-state">Answer security questions</a></li>
          <li><a href="/identity/pyi/v11/kbv-question-3" class="govuk-link govuk-link--no-visited-state">When did you open your current account?</a></li>
          <li><a href="/identity/pyi/v11/kbv-question-1" class="govuk-link govuk-link--no-visited-state">How much did you borrow when you first took out your mortgage?</a></li>
          <li><a href="/identity/pyi/v11/kbv-question-4" class="govuk-link govuk-link--no-visited-state">When did you take out your mobile phone contract?</a></li>
          <li><a href="/identity/pyi/v11/identity-proved" class="govuk-link govuk-link--no-visited-state">Continue to the service</a></li>
        </ul>
      </div>

      <div class="govuk-details__text">
        <p class="govuk-heading-s">GOV.UK One Login</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/identity/one-login-home/v12/security" class="govuk-link govuk-link--no-visited-state">Security</a></li>
        </ul>
      </div>
    
    </details>

    <h2 class="govuk-heading-m">Task 2</h2>
    {{ govukButton({
      text: "Start",
      href: "/services/pta/v12/pta-signin-up.html"
    }) }}

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Links
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-heading-s">Personal Tax Account</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/services/pta/v12/pta-signin-up" class="govuk-link govuk-link--no-visited-state">Sign in or set up Personal tax account</a></li>
          <li><a href="/services/hmrc/sign-into-hmrc" class="govuk-link govuk-link--no-visited-state">Sign into HMRC</a></li>
          <li><a href="/services/pta/v12/what-is-your-ni" class="govuk-link govuk-link--no-visited-state">Enter your National insurance number</a></li>
          <li><a href="/services/pta/v12/pta-home" class="govuk-link govuk-link--no-visited-state">Personal tax account home</a></li>
          <li><a href="/services/pta/v12/pta-signin-up-OL-journey" class="govuk-link govuk-link--no-visited-state">Sign in or set up Personal tax account- already logged in</a></li>
          <li><a href="/services/pta/v12/pta-home-2" class="govuk-link govuk-link--no-visited-state">Personal tax account home- via OL</a></li>


        </ul>
      </div>
    
      <div class="govuk-details__text">
        <p class="govuk-heading-s">Auth</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/identity/auth/v11/gov-account-via-gp" class="govuk-link govuk-link--no-visited-state">Create a GOV.UK One Login or sign in</a></li>
          <li><a href="/identity/auth/v11/signin-email-via-gp" class="govuk-link govuk-link--no-visited-state">Enter your email address</a></li>
          <li><a href="/identity/auth/v11/signin-password-via-gp" class="govuk-link govuk-link--no-visited-state">Enter your password</a></li>
          <li><a href="/identity/auth/v11/signin-check-phone-via-gp" class="govuk-link govuk-link--no-visited-state">Check your phone</a></li>
        </ul>
      </div>
    
      <div class="govuk-details__text">
        <p class="govuk-heading-s">Prove your identity</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/identity/pyi/v11/spinner-screen-placeholder" class="govuk-link govuk-link--no-visited-state">Returning you to the service spinner[placeholder]</a></li>
          <li><a href="/identity/pyi/v11/pta-setup-live" class="govuk-link govuk-link--no-visited-state">You have aready proved your identity</a></li>
          <li><a href="/identity/pyi/v11/spinner-screen-placeholder-2" class="govuk-link govuk-link--no-visited-state">Returning you to the service spinner [placeholder] from pta in service search page</a></li>
          <li><a href="/identity/pyi/v11/pta-setup-live-pta-home" class="govuk-link govuk-link--no-visited-state">You have aready proved your identity [placeholder] from service search page</a></li>


        </ul>
      </div>

      <div class="govuk-details__text">
        <p class="govuk-heading-s">One Login Home</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/identity/one-login-home/v12/security" class="govuk-link govuk-link--no-visited-state">Security</a></li>
          <li><a href="/identity/one-login-home/v12/enter-current-pw" class="govuk-link govuk-link--no-visited-state">Enter your current password</a></li>
          <li><a href="/identity/one-login-home/v12/enter-new-password" class="govuk-link govuk-link--no-visited-state">Enter your new password</a></li>
          <li><a href="/identity/one-login-home/v12/pw-success" class="govuk-link govuk-link--no-visited-state">Password changed</a></li>
          <li><a href="/identity/one-login-home/v12/your-services" class="govuk-link govuk-link--no-visited-state">Your services</a></li>
          <li><a href="/identity/one-login-home/v12/services-search" class="govuk-link govuk-link--no-visited-state">Services you can use with GOV.UK One Login</a></li>

        </ul>
      </div>
    
    </details>

    <h2 class="govuk-heading-m">Task 3</h2>
    {{ govukButton({
      text: "Start",
      href: "/identity/one-login-home/v12/security.html"
    }) }}

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Links
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-heading-s">GOV.UK One Login</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/identity/one-login-home/v12/security" class="govuk-link govuk-link--no-visited-state">Security</a></li>
          <li><a href="/identity/one-login-home/v12/activity-history" class="govuk-link govuk-link--no-visited-state">Activity history</a></li>
          <li><a href="/identity/one-login-home/v12/report-event-form" class="govuk-link govuk-link--no-visited-state">Report something you do not recognise</a></li>
          <li><a href="/identity/one-login-home/v12/event-reported-success" class="govuk-link govuk-link--no-visited-state">Suspicious activity reported</a></li>
        </ul>
      </div>
    </details>
    
  </div>

  
</div>




{% endblock %}
