{% extends "layouts/main.html" %}

{% block pageTitle %}
Task page
{% endblock %}


{% block header %}
{{ govukHeader({
homepageUrl: "/",
serviceName: "",
serviceUrl: "/",
containerClasses: "govuk-width-container"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
    <h1 class="govuk-heading-xl">
      Tasks
    </h1>
    <h2 class="govuk-heading-m">16 April - 18 April 2024</h2>
  </div>

 
    <h2 class="govuk-heading-m">Task 1</h2>
    {{ govukButton({
      text: "Start",
      href: "/services/dbs/v13/request-dbs-check.html"
    }) }}

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Links
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/services/dbs/v11/request-dbs-check" class="govuk-link govuk-link--no-visited-state">Request a basic DBS check</a></li>
          <li><a href="/services/dbs/v11/pyi-for-dbs" class="govuk-link govuk-link--no-visited-state">Prove your identity with GOV.UK One Login</a></li>
          <br>
          <li><a href="/identity/auth/v11/gov-account" class="govuk-link govuk-link--no-visited-state">Create your GOV.UK One Login or sign in</a></li>
          <li><a href="/identity/auth/v11/create-email" class="govuk-link govuk-link--no-visited-state">Enter your email address</a></li>
          <li><a href="/identity/auth/v11/create-check-email" class="govuk-link govuk-link--no-visited-state">Check your email</a></li>
          <li><a href="/identity/auth/v11/create-password" class="govuk-link govuk-link--no-visited-state">Create your password</a></li>
          <li><a href="/identity/auth/v11/create-choose-otp-method" class="govuk-link govuk-link--no-visited-state">Choose how to get security codes</a></li>
          <li><a href="/identity/auth/v11/create-enter-mobile" class="govuk-link govuk-link--no-visited-state">Enter your mobile phone number</a></li>
          <li><a href="/identity/auth/v11/create-check-sms" class="govuk-link govuk-link--no-visited-state">Check your phone</a></li>
          <li><a href="/identity/auth/v11/create-success" class="govuk-link govuk-link--no-visited-state">You’ve created your GOV.UK One Login</a></li>
          <br>
          <li><a href="/identity/pyi/v11/how-to-pyi" class="govuk-link govuk-link--no-visited-state">How would you like to prove your identity?</a></li>
          <li><a href="/identity/pyi/v11/pyi-online" class="govuk-link govuk-link--no-visited-state">Prove your identity online</a></li>
          <li><a href="/identity/pyi/v11/passport-details" class="govuk-link govuk-link--no-visited-state">Enter your details exactly as they appear on your UK passport</a></li>
          <li><a href="/identity/pyi/v11/enter-address" class="govuk-link govuk-link--no-visited-state">Enter your address </a>         </li>
          <li><a href="/identity/pyi/v11/address-check" class="govuk-link govuk-link--no-visited-state">Confirm your address</a>          </li>
          <li><a href="/identity/pyi/v11/fraud-check" class="govuk-link govuk-link--no-visited-state">We need to check your details</a>          </li>
          <li><a href="/identity/pyi/v11/kbv-start" class="govuk-link govuk-link--no-visited-state">Answer security questions</a>          </li>
          <li><a href="/identity/pyi/v11/kbv-question-3" class="govuk-link govuk-link--no-visited-state">When did you open your current account?</a>          </li>
          <li><a href="/identity/pyi/v11/kbv-question-4" class="govuk-link govuk-link--no-visited-state">When did you take out your mobile phone contract?</a>          </li>
          <li><a href="/identity/pyi/v11/kbv-question-1" class="govuk-link govuk-link--no-visited-state">How much did you borrow when you first took out your mortgage?</a>          </li>
          <li><a href="/identity/pyi/v11/identity-proved" class="govuk-link govuk-link--no-visited-state">Continue to the service you want to use</a>          </li>
          <br>
          <li><a href="/services/dbs/v11/apply-for-dbs-check" class="govuk-link govuk-link--no-visited-state">Apply for a basic DBS check</a>          </li>
          <li><a href="/identity/task-pages/v11-end-of-task-1" class="govuk-link govuk-link--no-visited-state">End of task 1 </a>         </li>
        </ul>
      </div>
    
    </details>

    <h2 class="govuk-heading-m">Task 2</h2>
    {{ govukButton({
      text: "Start",
      href: "/services/state-pension/check-state-pension-forecast.html"
    }) }}

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Links
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/services/state-pension/check-state-pension-forecast" class="govuk-link govuk-link--no-visited-state">Personal tax account: sign in or set up          </a></li>
          <li><a href="/services/hmrc/sign-into-hmrc" class="govuk-link govuk-link--no-visited-state">Sign in to HMRC          </a></li>
          <br>
          <li><a href="/identity/auth/v11/gov-account-via-gp" class="govuk-link govuk-link--no-visited-state">Create your GOV.UK One Login or sign in <a></li>
          <li><a href="/identity/auth/v11/signin-email-via-gp" class="govuk-link govuk-link--no-visited-state">Enter your email address to sign in to your GOV.UK One Login          </a></li>
          <li><a href="/identity/auth/v11/signin-password-via-gp" class="govuk-link govuk-link--no-visited-state">Enter your password          </a></li>
          <li><a href="/identity/auth/v11/signin-check-phone-via-gp" class="govuk-link govuk-link--no-visited-state">Check your phone          </a></li>
          <br>
          <li><a href="/identity/pyi/v11/spinner-screen-placeholder" class="govuk-link govuk-link--no-visited-state">Returning you to PTA (spinner)         </a></li>
          <li><a href="/identity/pyi/v11/pta-setup-live" class="govuk-link govuk-link--no-visited-state">You have already proved your identity          </a></li>
          <li><a href="/services/pta/v12/what-is-your-ni" class="govuk-link govuk-link--no-visited-state">Enter your National Insurance Number          </a></li>
          <li><a href="/services/pta/v12/pta-home" class="govuk-link govuk-link--no-visited-state">Personal tax account home</a></li>
          <li><a href="/services/pta/v12/pta-profile-and-settings" class="govuk-link govuk-link--no-visited-state">Profile and settings          </a></li>
          <li><a href="/identity/one-login-home/v12/security" class="govuk-link govuk-link--no-visited-state">Security          </a></li>
          <li><a href="/identity/one-login-home/v12/enter-current-pw" class="govuk-link govuk-link--no-visited-state">Enter your current password          </a></li>
          <li><a href="/identity/one-login-home/v12/enter-new-password" class="govuk-link govuk-link--no-visited-state">Enter your new password          </a>         </li>
          <li><a href="/identity/one-login-home/v12/pw-success" class="govuk-link govuk-link--no-visited-state">You’ve changed your password          </a>          </li>
          <br>
          <li><a href="/identity/one-login-home/v12/your-services" class="govuk-link govuk-link--no-visited-state">Your services          </a>          </li>
          <li><a href="/identity/one-login-home/v12/services-search" class="govuk-link govuk-link--no-visited-state">Services you can use with GOV.UK One Login          </a>          </li>
          <li><a href="/services/pta/v12/pta-signin-up-OL-journey" class="govuk-link govuk-link--no-visited-state">Personal tax account: sign in or set up          </a>          </li>
          <li><a href="/services/hmrc/sign-into-hmrc-2" class="govuk-link govuk-link--no-visited-state">Sign in to HMRC          </a>          </li>
          <li><a href="/identity/pyi/v11/spinner-screen-placeholder-2" class="govuk-link govuk-link--no-visited-state">Returning you to PTA home (spinner)         </a>          </li>
          <li><a href="/identity/pyi/v11/pta-setup-live-pta-home" class="govuk-link govuk-link--no-visited-state">You have already proved your identity          </a>          </li>
          <li><a href="/services/pta/v12/pta-home-2" class="govuk-link govuk-link--no-visited-state">Personal tax account home          </a>          </li>
        </ul>
      </div>
    
    </details>

    <h2 class="govuk-heading-m">Task 3</h2>
    {{ govukButton({
      text: "Start",
      href: "/identity/one-login-home/v12/security.html"
    }) }}

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Links
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/identity/one-login-home/v12/security" class="govuk-link govuk-link--no-visited-state">Security</a></li>
          <li><a href="/identity/one-login-home/v12/activity-history" class="govuk-link govuk-link--no-visited-state">Activity history</a></li>
          <li><a href="/identity/one-login-home/v12/report-event-form" class="govuk-link govuk-link--no-visited-state">Report something you do not recognise</a></li>
          <li><a href="/identity/one-login-home/v12/event-reported-success" class="govuk-link govuk-link--no-visited-state">Suspicious activity reported</a></li>
          <li><a href="/identity/one-login-home/v12/enter-current-pw-2.html" class="govuk-link govuk-link--no-visited-state">Change password</a></li>
          <li><a href="https://home.account.gov.uk/contact-gov-uk-one-login?fromURL=https%3A%2F%2Fhome.account.gov.uk%2Fyour-services%3F_ga%3D2.74737490.1562553744.1698932296-636000474.1677756439" class="govuk-link govuk-link--no-visited-state">Contact GOV.UK One Login          </a></li>
        </ul>
      </div>
    </details>
    
  </div>

  
</div>




{% endblock %}
