{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Tasks 
    </h1>
 
    <h2 class="govuk-heading-m">Task 1</h2>
    {{ govukButton({
      text: "Start",
      href: "/emails/v15-email-inbox-1.html"
    }) }}

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Links
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-heading-s">DBS</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/services/dbs/request-dbs-check.html" class="govuk-link govuk-link--no-visited-state">Request a basic DBS check</a></li>
          <li><a href="/services/dbs/pyi-for-dbs.html" class="govuk-link govuk-link--no-visited-state">Prove your identity</a></li>
        </ul>
      </div>
    
    
    </details>

    <h2 class="govuk-heading-m">Task 2</h2>
    {{ govukButton({
      text: "Start",
      href: "/services/pta/pta-signin-up.html"
    }) }}

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Links
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-heading-s">Personal tax account</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/services/pta/pta-signin-up.html" class="govuk-link govuk-link--no-visited-state">Personal tax account: sign in or set up</a></li>
          <li><a href="/services/pta/what-is-your-ni.html" class="govuk-link govuk-link--no-visited-state">What is your National Insurance number?</a></li>
          <li><a href="/services/pta/pta-home.html" class="govuk-link govuk-link--no-visited-state">Personal tax account home</a></li>
        </ul>
      </div>
    
      <div class="govuk-details__text">
        <p class="govuk-heading-s">Prove your identity</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/identity/pyi/v9/pta-setup.html" class="govuk-link govuk-link--no-visited-state">You’ve proved your identity with GOV.UK One Login before</a></li>
          <li><a href="/identity/pyi/v9/share-id-info.html" class="govuk-link govuk-link--no-visited-state">Share your contact and identity information </a></li>
          <li><a href="/identity/pyi/v9/share-proof-of-id.html" class="govuk-link govuk-link--no-visited-state">Share other personal details saved in your GOV.UK One Login </a></li>
        </ul>
      </div>
    
    </details>
    
  </div>
</div>


{% endblock %}
