{% extends "layouts/main.html" %}


{% block pageTitle %}
Create or sign in
{% endblock %}


{% block header %}
{{ govukHeader({
homepageUrl: "/identity/task-pages/v15-task-page.html",
serviceName: "",
serviceUrl: "/",
containerClasses: "govuk-width-container"

}) }}

  
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      You have signed out
    </h1>
    <p class="govuk-body">
      Go to the <a href="#" class="govuk-link">GOV.UK homepage</a> or <a href="#" class="govuk-link">sign in</a> to your GOV.UK One Login.
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <form class="form" action="/identity/task-pages/v15-task-page" method="post">
      
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Back to task page</button>
    </form>

  </div>
</div>

{% endblock %}

