{% extends "layouts/one-login.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/identity/one-login-home/v10/one-login-homepage.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/identity/one-login-home/v10/security.html">Security</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Activity history</a>
        </li>
      </ol>
    </div>
    <h1 class="govuk-heading-xl">
      Activity history
    </h1>
    <p>If you see something you do not recognise, report it. </p>
    <br>

    <div>
    <h2 class="govuk-heading-m">13 December 2023 at 9:00pm (UK time)</h2>
    <p>You visited your GOV.UK One Login home. </p>
    <p class="govuk-body">
      <a href="#" class="govuk-link govuk-link--no-visited-state">Report activity from 13 December2023 at 9:00pm</a>
    </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>

    <div>
      <h2 class="govuk-heading-m">13 December 2023 at 7:00pm (UK time)</h2>
      <p>You visited Request a basic DBS check. </p>
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Report activity from 13 December 2023 at 7:00pm</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>

      <div>
        <h2 class="govuk-heading-m">12 December 2023 at 1:00pm (UK time)</h2>
        <p>You created your GOV.UK One Login. </p>
        <p class="govuk-body">You visited:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>HMRC services</li>
  <li>Prove your identity</li>
  <li>GOV.UK One Login home</li>
</ul>
        <p class="govuk-body">
          <a href="/identity/one-login-home/v10/report-event-form.html" class="govuk-link govuk-link--no-visited-state">Report activity from 12 December 2023 at 1:00pm</a>
        </p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </div>



  </div>
</div>
{% endblock %}
