{% extends "layouts/one-login.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          You’ve reported activity you do not recognise
        </h1>
        <div class="govuk-panel__body">
          Your report number is<br><strong>HDJ2123F</strong>
        </div>
      </div>
<br>

<div>
<p class="govuk-body">You've reported the following activity:</p>

<div class="govuk-inset-text">
  <p class="govuk-body govuk-!-font-weight-bold">12 December  2023 at 1:00pm (UK time)</p>
  <p class="govuk-body govuk-!-font-weight-regular">You created your GOV.UK One Login.</p>
  <p class="govuk-body">You visited:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>HMRC services</li>
  <li>Prove your identity</li>
  <li>GOV.UK One Login home</li>
</ul>
</div>

<h3 class="govuk-heading-s">Keep your GOV.UK One Login secure</h3>
<p class="govuk-body">
  We recommend that you <a href="#" class="govuk-link">change your password</a>.
</p>
<p>This is to help keep your GOV.UK One Login secure.</p>

<h3 class="govuk-heading-s">What happens next</h3>
<p class="govuk-body govuk-!-font-weight-regular"> A confirmation email has been sent to  <a class="govuk-body govuk-!-font-weight-bold">email@example.com</a>.</p>
<p>The GOV.UK One Login team will investigate and reply to you by email. We might ask for more information about the activity you’ve reported.</p>
<p>We’ll always include your report number when we email you.</p>

<h3 class="govuk-heading-s">If you need to contact us</h3>
<p class="govuk-body">
  You can <a href="#" class="govuk-link">contact the GOV.UK One Login team</a>.
</p>



</div>
{% endblock %}
