{% extends "layouts/one-login.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Your GOV.UK One Login</h1>
    <p class="govuk-body">You're signed in as <strong>name@example.com</strong></p>
  
    <div class="one-login-home-cards__container">
      <div class="one-login-home-cards__card">
          <h3 class="govuk-heading-s"><a href="/identity/one-login-home/v9/your-services.html">Your services</a></h3>
          <p class="govuk-body">See and access the services you've used with your GOV.UK One Login.</p>
      </div>
      <div class="one-login-home-cards__card">
          <h3 class="govuk-heading-s"><a href="/identity/one-login-home/v9/security.html">Security</a></h3>
          <p class="govuk-body">Update your sign in details, see your sign in history or delete your GOV.UK One Login.</p>
      </div>
      <div class="one-login-home-cards__card">
          <h3 class="govuk-heading-s"><a href="#">Contact us</a></h3>
          <p class="govuk-body">Contact us to report a problem with your GOV.UK One Login or give feedback.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
