{% extends "layouts/one-login.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/identity/one-login-home/v9/one-login-homepage.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Security</a>
        </li>
      </ol>
    </div>
    <h1 class="govuk-heading-xl">
      Security
    </h1>

    <div class="activity-card govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m">Your sign in details</h2>    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6; padding-top:10px">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          <p>
            {{ data['email-address'] or "name@email.com"}}
        </p> 
        </dd>
  
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6; padding-top:10px">
        <dt class="govuk-summary-list__key">
          Password
        </dt>
        <dd class="govuk-summary-list__value">
          ••••••••••••••••
        </dd>
  
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </dl>
  
    </div>

  <div class="activity-card govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-m">How you get security codes</h2>
  <p>We use security codes to make sure it’s you when you sign in.</p> 
  <dl class="govuk-summary-list govuk-!-margin-bottom-0">
    <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6; padding-top:10px">
      <dt class="govuk-summary-list__key">
        Text message
      </dt>
      <dd class="govuk-summary-list__value">
        Phone number<br> ending with 0406
      </dd>

      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> name</span>
        </a>
      </dd>
    </div>
  </dl>
  </div>


  <div class="activity-card govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-m">Activity history</h2>
    <p class="govuk-body">See when you’ve signed in to your GOV.UK One Login and what services you visited.</p>      
    <p class="govuk-!-margin-bottom-0"><a href="/identity/one-login-home/v10/activity-history.html" class="govuk-link--no-visited-state">See your activity history</a></p>
  </div>

  <div class="activity-card govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-m">Delete your GOV.UK One Login</h2>
    <p class="govuk-body">This will permanently delete your GOV.UK One Login. You’ll no longer be able to sign in to the services you’ve used with it.</p>
    <p class="govuk-body govuk-!-margin-bottom-0"><a href="account-delete" class="govuk-link--no-visited-state">Delete your GOV.UK One Login</a></p>
  </div>

  </div>
</div>

{% endblock %}
