{% extends "layouts/one-login.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/identity/one-login-home/v10/one-login-homepage-task-2.html">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Your services</a>
          </li>
        </ol>
      </div>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Your services
      </h1>
      <br>
      <div class="service-card--other-task">
        <p><a href="https://www.gov.uk/request-copy-criminal-record" class="govuk-link--no-visited-state">Request a basic DBS check</a></p>
        <p class="service-card-date">Last used: 13 December 2023</p>
      </div>

      <div class="service-card--with-title">
        <div class="service-card-title">
          <h3 class="govuk-heading-s">HMRC Services</h3>
        </div>
        <div class="service-card-body">
        <p>This includes tax and childcare services.</p>
        <p class="govuk-body">
          To go to an HMRC service, check the <a href="/identity/one-login-home/v10/services-search-task-2.html" class="govuk-link">list of services you can use with GOV.UK One Login</a>.</p>        
          <p class="service-card-date">Last used: 12 December 2023</p>
        </div>
      </div>


      
    </div>
  </div>

{% endblock %}
