{% extends "/layouts/v17-service-cards-iteration.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/services/service-cards-iteration/one-login-homepage.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Your services</a>
      </li>
    </ol>
    <h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-4">Your services</h1>
    <p>You’ve accessed these services with your GOV.UK One Login.</p>
    <p>From here, you can go directly to a service to use it again.</p>

    <div class="service-card--other-task">
      <p><a href="/services/service-cards-iteration/teaching-vacancies.html" class="govuk-link--no-visited-state">Teaching vacancies account</a></p>
      <p class="service-card-date">Last used: 18 October 2024</p>
    </div>


    
    
    <div class="service-card--other-task">
      <p><a href="https://www.gov.uk/renew-adult-passport" class="govuk-link--no-visited-state">Renew or replace your adult passport</a></p>
      <p class="service-card-date">Last used: 26 September 2024</p>
    </div>
    <div class="service-card--other-task">
      <p><a href="https://www.gov.uk/register-to-vote" class="govuk-link--no-visited-state">Register to vote</a></p>
      <p class="service-card-date">Last used: 1 May 2024</p>
    </div>
    <div class="service-card--other-task">
      <p><a href="/services/service-cards-iteration/pta-home" class="govuk-link--no-visited-state">Personal tax account</a></p>
      <p class="service-card-date">Last used: 6 April 2024</p>
    </div>
    <div class="service-card--other-task">
      <p><a href="https://www.gov.uk/government/collections/additional-payments-for-teaching-eligibility-and-payment-details" class="govuk-link--no-visited-state">Claim additional payments for teaching</a></p>
      <p class="service-card-date">Last used: 2 September 2023</p>
    </div>


    <div class="service-card--other-task">
      <p><a href="https://www.gov.uk/request-copy-criminal-record" class="govuk-link--no-visited-state">Request a basic DBS check</a></p>
      <p class="service-card-date">Last used: 26 August 2024</p>
    </div>


    <div class="service-card--other-task">
      <p><a href="https://find-a-lost-trn.education.gov.uk/start" class="govuk-link--no-visited-state">Find a lost teacher reference number (TRN)</a></p>
      <p class="service-card-date">Last used: 1 June 2023</p>
    </div>

    <div class="service-card--other-task">
      <p><a href="/services/service-cards-iteration/state-pension-summary.html" class="govuk-link--no-visited-state">State Pension forecast account</a></p>
      <p class="service-card-date">Last used: 23 April 2023</p>
    </div>
  

    <div class="service-card--other-task">
      <p><a href="https://www.gov.uk/change-address-driving-licence" class="govuk-link--no-visited-state">Change the address on your driving licence</a></p>
      <p class="service-card-date">Last used: 9 November 2022</p>
    </div>

    <div class="service-card--other-task">
      <p><a href="https://www.gov.uk/guidance/apply-for-a-national-professional-qualification-npq" class="govuk-link--no-visited-state">Apply for a national professional qualification (NPQ)</a></p>
      <p class="service-card-date">Last used: 30 July 2022</p>
    </div>
  
      <div class="information-box">
        <h3 class="govuk-heading-m">
          Services you can use with GOV.UK One Login
        </h3>
        <p class="govuk-body">GOV.UK One Login is new. At the moment you can only use it to access some government services.</p>
        <p class="govuk-body">In the future, you'll be able to use GOV.UK One Login to access all services on GOV.UK.</p>
        <p class="govuk-body">
          See the <a href="/services/service-cards-iteration/services-search.html" class="govuk-link">services you can use with GOV.UK One Login</a>.
        </p>
      </div>
  
  </div>
</div>
{% endblock %}
