{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block header %}
{{ govukHeader({
homepageUrl: "/identity/task-page.html",
serviceName: "Personal tax account",
serviceUrl: "/",
containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Screen jump...
    </h1>

    <p>For this research session. we’ve removed  some of the steps to set up a Personal tax account.</p>
    <p>Imagine that you’ve provided all the information needed and are on the last step.</p>
  

      {{ govukButton({
        text: "Continue",
        href: "/services/pta/v10/pta-home.html"
      }) }}
  

      </div>
          </div>
  
        </div>
      </div>
  </div>

  <div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->



  </div>
</div>
{% endblock %}