{% extends "layouts/main.html" %}

{% block pageTitle %}
Personal tax account
{% endblock %}

{% block header %}
{{ govukHeader({
homepageUrl: "/identity/task-page.html",
serviceName: "",
serviceUrl: "/",
containerClasses: "govuk-width-container"
}) }}
{% endblock %}


<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/identity/index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="javascript:void(0)">Dealing with HMRC</a>
    </li>
  </ol>
</div>

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Check how to register for Self Assessment</span>
    <h1 class="govuk-heading-xl">Register if you're self-employed</h1>

    <p class="govuk-body">You'll need to register for both:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Self Assessment</li>
  <li>Class 2 National Insurance</li>
</ul>


<p>You’ll need to <a href="/identity/auth/v10/gov-account.html"> sign in </a> to use this service. If you do not already have sign in details, you’ll be able to create them.</p>

<p>You’ll be told when you sign in if you need to prove your identity. This is to keep your details safe and normally involves using photo ID like a passport or driving licence.
  </p>


      <div id="before-you-start">
        <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
          <h2 class="govuk-heading-m">When to register</h2>
  
          <p>You must tell HMRC by 5 October if you need to send a tax return and you have not sent one before. You could be fined if you do not.</p>

          <h2 class="govuk-heading-m">If you cannot register online</h2>

          <p>Register for Self Assessment and Class 2 National Insurance by<a href="https://www.gov.uk/check-if-you-need-tax-return">filling in the form online </a> .Print and post it to HMRC.</p>
          <p>You’ll need to have all your information ready as you cannot save a partly completed form.</p>

          <h2 class="govuk-heading-m">What happens next</h2>

          <p>You’ll get your Unique Taxpayer Reference (UTR) by post in 15 working days (21 days if you’re abroad). You’ll get it sooner in your <a href="https://www.gov.uk/check-if-you-need-tax-return">HMRC app </a> .</p>
          </div>
  
        </div>
      </div>
  </div>

  <div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->



  </div>
</div>
  
        </div>
      </div>
  </div>

  <div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->



  </div>
</div>
{% endblock %}
