{% extends "layouts/main.html" %}

{% block pageTitle %}
Success
{% endblock %}


{% block header %}
{{ govukHeader({
homepageUrl: "/identity/task-pages/v14-task-page.html",
serviceName: "",
serviceUrl: "/",
containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You’ve created your GOV.UK One Login</h1>

      <form class="form" action="/identity/pyi/v14/how-to-pyi" method="post">

        <p class="govuk-body">Now continue to prove your identity.</p>

      </form>

      <form class="form" action="/identity/pyi/v14/how-to-pyi" method="post">
      
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
