{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your password
– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukHeader({
homepageUrl: "/identity/task-pages/v15-task-page.html",
serviceName: "",
serviceUrl: "/",
containerClasses: "govuk-width-container"
}) }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}
{% block content %}

<a href="/identity/auth/v15/signin-email.html" class="govuk-back-link">Back</a>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Enter your password
    </h1>

    <form class="form" action="/identity/auth/v15/signin-check-phone" method="post">

        <div class="govuk-form-group" style="margin-bottom: 15px;">

          <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
            <div class="govuk-form-group">
              <div class="gem-c-show-password__input-wrapper">
                <input name="password[login]" class="gem-c-input govuk-input gem-c-input--with-password govuk-!-width-two-thirds" id="password" type="password" spellcheck="false" autocomplete="off" aria-describedby="password-hint">
                <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
              </div> <!-- /. gem-c-show-password__input-wrapper -->
            </div> <!-- /. govuk-form-group -->
          </div> <!-- /. gem-c-show-password -->

        </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
      <p><a href="#">I've forgotten my password</p>


    </form>

  </div>
</div>

{% endblock %}
