{% extends "layouts/main.html" %}

{% block pageTitle %}
Request a basic DBS check
{% endblock %}

{% block header %}
{{ govukHeader({
homepageUrl: "/identity/task-page.html",
serviceName: "",
serviceUrl: "/",
containerClasses: "govuk-width-container"
}) }}
{% endblock %}


{% block content %}



<a href="/services/dbs/v11/request-dbs-check.html" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/service/verify/v1/verify-start" method="post" class="form">

      <h1 class="govuk-heading-l">
        Prove your identity
      </h1>

      <p>[Content pending]</p>

    <a href="/identity/auth/v11/gov-account.html" role="button" draggable="false" class="govuk-button govuk-button--continue" data-module="govuk-button">
      Continue
    </a>

    


    </form>

  </div>

</div>

{% endblock %}
