{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Tasks
    </h1>
 
    <h2 class="govuk-heading-m">Task 1</h2>
    {{ govukButton({
      text: "Start",
      href: "/identity/auth/v9/gov-account.html"
    }) }}

    <h2 class="govuk-heading-m">Task 2</h2>
    {{ govukButton({
      text: "Start",
      href: "/services/pta/pta-signin-up.html"
    }) }}

    <h2 class="govuk-heading-m">Task 3</h2>
    {{ govukButton({
      text: "Start",
      href: "task-3-examples"
    }) }}

  </div>
</div>


{% endblock %}
