{% extends "/layouts/govuk-and-sign-out.html" %}
{% set serviceName = nil %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Prove your identity with GOV.UK One Login
      </h1>

     <p>You’ll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          your photo ID
        </li>
        <li>
          your current address (you might also need your previous address if you’ve recently moved)
        </li>
      </ul>

      <div class="govuk-inset-text">
        You can also <a href=""> use GOV.UK One Login in Welsh (Cymraeg) </a>. Not all ways to prove your identity are available in Welsh yet.
      </div>

{{ govukButton({
text: "Continue",
href: "/identity/pyi/v10/how-to-pyi.html"
}) }}

  </div>
</div>

{% endblock %}
