{% extends "/layouts/v16-one-login-plus-signout.html" %}

{% block pageTitle %}
Activity history  
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="/identity/one-login-home/v16/security" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Activity history
    </h1>
    <p>If you see something you do not recognise, report it and <a href="/identity/one-login-home/v16/security" class="govuk-link">change your password</a>.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div>
      <h2 class="govuk-heading-s"> 1 June 2021 at 3:10pm (UK time)</h2>
      <p>You visited Sign your mortgage deed</p>
      <p class="govuk-body">
        <a href="" class="govuk-link govuk-link--no-visited-state">Report the activity from 1 June 2021 at 3:10pm</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>

    <div>
      <h2 class="govuk-heading-s"> 25 March 2021 at 1:00pm (UK time)</h2>
      <p>You visited Request a basic DBS check</p>
      <p class="govuk-body">
        <a href="" class="govuk-link govuk-link--no-visited-state">Report the activity from 25 March 2021 at 1:00pm</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
    
    <div>
      <h2 class="govuk-heading-s"> 8 September 2020 at 5:34pm (UK time)</h2>
      <p>You visited Check your State Pension forecast</p>
      <p class="govuk-body">
        <a href="" class="govuk-link govuk-link--no-visited-state">Report the activity from 8 September 2020 at 5:34pm </a>
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>

    <div>
      <h2 class="govuk-heading-s"> 1 September 2020 at 6:05pm (UK time)</h2>
      <p>You created your GOV.UK One Login </p>
      <p>You proved your identity with your GOV.UK One Login </p>
      <p>You visited Request a basic DBS check</p>
      <p class="govuk-body">
        <a href="" class="govuk-link govuk-link--no-visited-state">Report the activity from 1 September 2020 at 6:05pm </a>
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>

    <div>
      <p>GOV.UK One Login started recording activity history on 15 August 2020.  </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>

  </div>
</div>
{% endblock %}
