{% extends "/layouts/v16-one-login-plus-signout.html" %}

{% block pageTitle %}
Enter your password – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="/identity/one-login-home/v16/one-login-homepage.html" class="govuk-back-link">Back</a>

{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Enter your password
    </h1>
    <p>We need to make sure it’s you before you can see your identity information.</p>

    <form class="form" action="/identity/one-login-home/v16/your-identity-info" method="post">

      <div class="govuk-form-group">
        <label for="password" class="gem-c-label govuk-label">Enter your password</label>
        <div class="gem-c-show-password__input-wrapper">
          <input name="password[first]" class="gem-c-input govuk-input gem-c-input--with-password govuk-!-width-two-thirds"
                 id="password" type="password" autocomplete="new-password" aria-describedby="hint-password">
          <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
        </div> <!-- /. gem-c-show-password__input-wrapper -->
      </div>


      <button class="govuk-button" data-module="govuk-button">Continue</button>
      <p><a href="/identity/one-login-home/v16/one-login-homepage">I do not want to see my identity information</p>

    </form>

  </div>
</div>

{% endblock %}
