{% extends "/layouts/v16-one-login-plus-signout.html" %}

{% block pageTitle %}
Your GOV.UK One Login – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your GOV.UK One Login</h1>
    <p class="govuk-body">You're signed in as <strong>{{ data['email-address'] or 'email@address.com' }}</strong></p>

  
      <div class="activity-card govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-m">Your services</h2>    
    <p>See and access the services you’ve used with your GOV.UK One Login.</p>
    <p class="govuk-!-margin-bottom-0"><a href="/identity/one-login-home/v16/your-services.html" class="govuk-link--no-visited-state">See the services you’ve used </a></p>
      </div>

      <div class="activity-card govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-m">Security</h2>    
    <p>Update your sign in details, see your activity history or delete your GOV.UK One Login. </p>
    <p class="govuk-!-margin-bottom-0"><a href="/identity/one-login-home/v16/security.html" class="govuk-link--no-visited-state">See your sign in and security details    </a></p>
      </div>

      <div class="activity-card govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-m">Your identity information</h2>    
    <p>See or update the details you used to prove your identity, including your name and address.
    </p>
    <p class="govuk-!-margin-bottom-0"><a href="/identity/one-login-home/v16/enter-password.html" class="govuk-link--no-visited-state">See your identity information</a></p>
      </div>

      <div class="activity-card govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-m">Contact us</h2>    
    <p>Contact us to report a problem with your GOV.UK One Login or give feedback.</p>
    <p class="govuk-!-margin-bottom-0"><a href="https://home.account.gov.uk/contact-gov-uk-one-login?fromURL=https%3A%2F%2Fhome.account.gov.uk%2Fyour-services%3F_ga%3D2.74737490.1562553744.1698932296-636000474.1677756439" class="govuk-link--no-visited-state">Contact the GOV.UK One Login team </a></p>
      </div>
  
  
  </div>
</div>
{% endblock %}
