{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    <h1 class="govuk-heading-xl">
      GOV.UK One Login Home
    </h1>

    <span class="govuk-caption-m">24 - 25 July and 6 - 7 August 2024</span>
<h2 class="govuk-heading-m"> Account deletion due to inactivity</h2>
<p class="govuk-body">Understanding user's attitudes towards emails communicating their account is about to be deleted due to three years of inactivity and seeing how users react to it.</p>

  {{ govukButton({
    text: "Round 1",
    classes: "govuk-button--primary",
    href: "/identity/task-pages/v15-task-page"
  }) }}
 <br>
  {{ govukButton({
    text: "Round 2",
    classes: "govuk-button--primary",
    href: "/identity/task-pages/v16-task-page"
  }) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    

    <span class="govuk-caption-m">16 - 18 April and 7 - 9 May 2024</span>
<h2 class="govuk-heading-m"> Showing identity information and activity history </h2>
<p class="govuk-body">This includes how we might show identity information in a user’s One Login home and the new design of the activity history</p>


{{ govukButton({
    text: "Round 1",
    classes: "govuk-button--primary",
    href: "/identity/task-pages/v13-task-page"
  }) }}
 <br>
  {{ govukButton({
    text: "Round 2",
    classes: "govuk-button--primary",
    href: "/identity/task-pages/v14-task-page"
  }) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-m">13 February 2024
    </span>
<h2 class="govuk-heading-m"> HMRC service card iteration for private beta </h2>
<p class="govuk-body">How to take a user to an HMRC service from the service dashboard - as is planned for the launch of private beta</p>


{{ govukButton({
    text: "Go to prototype",
    classes: "govuk-button--primary",
    href: "/identity/task-pages/v11-task-page"
  }) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-m">18 January 2024
    </span>
<h2 class="govuk-heading-m"> Initial HMRC password change journey</h2>
<p class="govuk-body">Best reckon at ‘change password and return to service’ journey for HMRC using GOV.UK One Login - for go live on February 29.</p>


{{ govukButton({
    text: "Go to prototype",
    classes: "govuk-button--primary",
    href: "/services/pta/v11/pta-home.html"
  }) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-m">12 -13 December 2023
              </span>
          <h2 class="govuk-heading-m"> HMRC service card </h2>
          <p class="govuk-body">How to show HMRC services in the service dashboard and reporting suspicious activity</p>

          
          {{ govukButton({
              text: "Go to prototype",
              classes: "govuk-button--primary",
              href: "/identity/task-page-2.html"
            }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-m">22 - 23 August 2023
        </span>
    <h2 class="govuk-heading-m"> Identity and personal info reuse
    </h2>
    <p class="govuk-body">Included in this prototype:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>adding preferred name as part of the account creation process</li>
      <li>further iterations on how we explain to users what information is being shared with a service as part of reusing their GOV.UK One Login</li>
      <li>the guide and sign in pages for GOV.UK One Login</li>
      <li>iterations to the account home including adding a home and a personal details page</li>
      <li>flow for reporting a page you don't recognise in the sign in history</li>
    </ul>
    
    {{ govukButton({
        text: "Go to prototype",
        classes: "govuk-button--primary",
        href: "/identity/task-page.html"
      }) }}
  

      
  </div>

</div>

{% endblock %}
