{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      GOV.UK One Login Home
    </h1>
    <span class="govuk-caption-m">22 August 2023
        </span>
    <h2 class="govuk-heading-m"> Identity and personal info reuse
    </h2>
    <p class="govuk-body">Included in this prototype:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>adding preferred name as part of the account creation process</li>
  <li>further iterations on how we explain to users what information is being shared with a service as part of reusing their GOV.UK One Login</li>
  <li>the guide and sign in pages for GOV.UK One Login</li>
  <li>iterations to the account home including adding a home and a personal details page</li>
  <li>flow for reporting a page you don't recognise in the sign in history</li>
</ul>
    
    {{ govukButton({
        text: "Go to prototype",
        classes: "govuk-button--primary",
        href: "/identity/task-page.html"
      }) }}
  </div>


  <div></div>

</div>

{% endblock %}
