{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    
    <h1 class="govuk-heading-xl">
      GOV.UK One Login Home
    </h1>

    <span class="govuk-caption-m">18 January 2024
    </span>
<h2 class="govuk-heading-m"> HMRC service card</h2>
<p class="govuk-body">Best reckon at ‘change password and return to service’ journey for HMRC using GOV.UK One Login - for go live on February 29.</p>


{{ govukButton({
    text: "Go to prototype",
    classes: "govuk-button--primary",
    href: "/services/pta/v11/pta-home.html"
  }) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-m">12 -13 December 2023
              </span>
          <h2 class="govuk-heading-m"> HMRC service card </h2>
          <p class="govuk-body">How to show HMRC services in the service dashboard and reporting suspicious activity</p>

          
          {{ govukButton({
              text: "Go to prototype",
              classes: "govuk-button--primary",
              href: "/identity/task-page-2.html"
            }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-m">22 - 23 August 2023
        </span>
    <h2 class="govuk-heading-m"> Identity and personal info reuse
    </h2>
    <p class="govuk-body">Included in this prototype:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>adding preferred name as part of the account creation process</li>
      <li>further iterations on how we explain to users what information is being shared with a service as part of reusing their GOV.UK One Login</li>
      <li>the guide and sign in pages for GOV.UK One Login</li>
      <li>iterations to the account home including adding a home and a personal details page</li>
      <li>flow for reporting a page you don't recognise in the sign in history</li>
    </ul>
    
    {{ govukButton({
        text: "Go to prototype",
        classes: "govuk-button--primary",
        href: "/identity/task-page.html"
      }) }}
  

      
  </div>

</div>

{% endblock %}
