{% extends "/layouts/v14-one-login-plus-signout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}

<a href="/identity/one-login-home/v14/one-login-homepage.html" class="govuk-back-link">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Enter your password
    </h1>
    <p>We need to make sure it’s you before you can see your identity information.</p>

    <form class="form" action="/identity/one-login-home/v14/your-identity-info" method="post">

      <div class="govuk-form-group">
        <label for="password" class="gem-c-label govuk-label">Enter a password</label>
        <div class="gem-c-show-password__input-wrapper">
          <input name="password[first]" class="gem-c-input govuk-input gem-c-input--with-password govuk-!-width-two-thirds"
                 id="password" type="password" autocomplete="new-password" aria-describedby="hint-password">
          <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
        </div> <!-- /. gem-c-show-password__input-wrapper -->
      </div>

      <p><a href="/identity/one-login-home/v14/one-login-homepage">I do not want to see my identity information</p>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
