{% extends "/layouts/v14-one-login-plus-signout.html" %}

{% block pageTitle %}
Security  
{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/identity/one-login-home/v14/one-login-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Your identity information
      </a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      Your identity information
    </h1>
    <p>You’ve proved your identity with GOV.UK One Login. </p>
    <p>When you sign in, we’ll sometimes ask you to confirm the saved information is still correct. 
    </p>

        <p class="govuk-body">This helps us:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>share the correct identity information with services</li>
      <li>keep your GOV.UK One Login secure</li>
    </ul>

    <div class="activity-card govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-l">Your identity information</h2>
      <p>Your GOV.UK One Login shares your identity information when a service needs to check who you are.</p>
    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6; padding-top:10px">
        <dt class="govuk-summary-list__key">
          <h2 class="govuk-heading-m">Name  on your UK passport</h2>
        </dt>
        <dd class="govuk-summary-list__value">
          <h2 class="govuk-heading-s">Given names</h2>
          <p class="govuk-body">{{ data['first-name']  or "Joe Stuart"}}</p>
          <h2 class="govuk-heading-s">Last name</h2>
          <p class="govuk-body">{{ data['surname']  or "Bloggs"}}</p>
          <p class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">Saved on 25 November 2023</p> 
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                How to update your name
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">
                If you only need to update either  your given names or your last name, you can <a href="#" class="govuk-link">update your name yourself</a>. You’ll need to prove your identity again using photo ID in your new name.
              </p>
              <p>If you need to update your full name (this is your given names and your last name), <a href="#" class="govuk-link">contact the GOV.UK One Login team (opens in new tab)</a>. They’ll delete your saved identity information and ask you to prove your identity again with your new name.</p>
            </div>
          </details>
        </dd>
      </div>
    </dl>
    
    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <h2 class="govuk-heading-m">Date of birth</h2>
        </dt>
        <dd class="govuk-summary-list__value">
          <p>{{ data['dob-day'] }} {{ data['dob-month'] }} {{ data['dob-year'] or "01 January 1973"}}</p>
          <p class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">Saved on 25 November 2023</p> 
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                How to update your date of birth
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">
                If your date of birth is wrong, <a href="#" class="govuk-link">contact the GOV.UK One Login team (opens in new tab)</a>. They’ll delete your saved identity information and ask you to prove your identity again with the right details.
              </p>
            </div>
          </details>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <h2 class="govuk-heading-m">Current address</h2>
        </dt>
        <dd class="govuk-summary-list__value">
          <p>
    
            {% if data['address-line-1'] %}

              {% if data['address-line-1'] %}
                {{ data['address-line-1'] }},<br>
              {% endif %}

              {% if data['address-line-2'] %}
                {{ data['address-line-2'] }}
              {% endif %}, <br>

              {% if data['town-or-city'] %}
                {{ data['town-or-city'] }},<br>
              {% endif %}

              {% if data['post-code'] %}
              {{ data['post-code'] }},<br>
            {% endif %}

            {% else %}
              Office 14, <br>
              New Station St, <br>
              Leeds, <br>
              LS1 5DL
            {% endif %}
    
          </p>
          <p class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">Saved on 8 May 2024</p> 
          <p class="govuk-body">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Update your current address</a>
          </p>
        </dd>
      </div>
    </dl>

<br>
<br>
    <h2 class="govuk-heading-m">Name  on your UK passport</h2>
    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <p>
          Sarah Philips
        </p>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <p>
          5 January 1978
        </p>
        <p class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">Saved on 8 May 2024</p> 
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How to update your date of birth
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">
              If your date of birth is wrong, <a href="#" class="govuk-link">contact the GOV.UK One Login team (opens in new tab)</a>. They’ll delete your saved identity information and ask you to prove your identity again with the right details.
            </p>
          </div>
        </details>
      </div>
    </dl>

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">


    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <h2 class="govuk-heading-m">Date of birth</h2>
        </dt>
        <dd class="govuk-summary-list__value">
          <p>{{ data['dob-day'] }} {{ data['dob-month'] }} {{ data['dob-year'] or "01 January 1973"}}</p>
          <p class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">Saved on 25 November 2023</p> 
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                How to update your date of birth
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">
                If your date of birth is wrong, <a href="#" class="govuk-link">contact the GOV.UK One Login team (opens in new tab)</a>. They’ll delete your saved identity information and ask you to prove your identity again with the right details.
              </p>
            </div>
          </details>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <h2 class="govuk-heading-m">Current address</h2>
        </dt>
        <dd class="govuk-summary-list__value">
          <p>
    
            {% if data['address-line-1'] %}

              {% if data['address-line-1'] %}
                {{ data['address-line-1'] }},<br>
              {% endif %}

              {% if data['address-line-2'] %}
                {{ data['address-line-2'] }}
              {% endif %}, <br>

              {% if data['town-or-city'] %}
                {{ data['town-or-city'] }},<br>
              {% endif %}

              {% if data['post-code'] %}
              {{ data['post-code'] }},<br>
            {% endif %}

            {% else %}
              Office 14, <br>
              New Station St, <br>
              Leeds, <br>
              LS1 5DL
            {% endif %}
    
          </p>
          <p class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">Saved on 8 May 2024</p> 
          <p class="govuk-body">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Update your current address</a>
          </p>
        </dd>
      </div>
    </dl>

    
    </div>
  </div>
</div>

{% endblock %}
